<nav class="container-fluid navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a routerLink="/inicio" class="navbar-brand">Raindrop Bow</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-cloud-rain fa-2x"></span>
  </button>
  <div class="nav-elements collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="/servicios" class="nav-link">Services</a>
      </li>
      <li class="nav-item">
        <a routerLink="/galeria" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contacto" class="nav-link">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> 