<section class="galeria container-fluid">
    <div class="row align-items-center justify-content-center">
        
        <h2 class="col-5">Our Portfolio</h2>

        <mat-tab-group class="nombre-pest">
            
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-icons iconos">music_note</span>
                </ng-template>

                <div class="portfolio bg-white p-3">
                    <div class="contenido-port row justify-content-around">
                        <img class="col-11 col-lg-3" src="/assets/galeria/piano.jpg" alt="persona tocando el piano">
                        <div class="col-12 col-lg-9">
                            <h4>Beatiful piano based OSTs</h4>
                            <p>Some text here explaining or detailing what this whole thing is about</p>
                            <a class="gal-botones" href="#" target="_blank">Listen to it</a>
                        </div>
                    </div>
                    <div class="contenido-port row justify-content-around">
                        <img class="col-11 col-lg-3" src="/assets/galeria/piano.jpg" alt="persona tocando el piano">
                        <div class="col-12 col-lg-9">
                            <h4>Beatiful piano based OSTs</h4>
                            <p>Some text here explaining or detailing what this whole thing is about</p>
                            <a class="gal-botones" href="#" target="_blank">Listen to it</a>
                        </div>
                    </div>
                </div>
                
            </mat-tab>
        
            
            <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons iconos">edit</span>
            </ng-template>
            
            <div class="portfolio bg-white p-3">
                <div class="contenido-port row justify-content-around">
                    <img class="col-11 col-lg-3" src="/assets/galeria/dragon.jpg" alt="gargola de dragon">
                    <div class="col-12 col-lg-9">
                        <h4>A short story about dragons</h4>
                        <p>Some text here explaining or detailing what this whole thing is about</p>
                        <a class="gal-botones" href="#" target="_blank">Read it here</a>
                    </div>
                </div>
                <div class="contenido-port row justify-content-around">
                    <img class="col-11 col-lg-3" src="/assets/galeria/adventure.jpg" alt="cuaderno sobre un mapa">
                    <div class="col-12 col-lg-9">
                        <h4>An exciting story about friends exploring</h4>
                        <p>Some text here explaining or detailing what this whole thing is about</p>
                        <a class="gal-botones" href="#" target="_blank">Read it here</a>
                    </div>
                </div>
            </div>

            </mat-tab>
        


            <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons iconos">palette</span>
            </ng-template>

            <div class="portfolio bg-white p-3">
                <div class="contenido-port row justify-content-around">
                    <img class="col-11 col-lg-3" src="/assets/galeria/space.jpg" alt="galaxia en espiral">
                    <div class="col-12 col-lg-9">
                        <h4>Out-of-this-world wallpapers!</h4>
                        <p>Some text here explaining or detailing </p>
                        <a class="gal-botones" href="#" target="_blank">Check it out</a>
                    </div>
                </div>
                <div class="contenido-port row justify-content-around">
                    <img class="col-11 col-lg-3" src="/assets/galeria/board-game.jpg" alt="tarjeta y dados de juego de mesa">
                    <div class="col-12 col-lg-9">
                        <h4>An entertaining and eye-catching board game</h4>
                        <p>Some text here explaining or detailing </p>
                        <a class="gal-botones" href="#" target="_blank">Check it out</a>
                    </div>
                </div>
            </div>

            </mat-tab>


            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="material-icons iconos">g_translate</span>
                </ng-template>
            
                <div class="portfolio bg-white p-3">
                    <div class="contenido-port row justify-content-around">
                        <img class="col-11 col-lg-3" src="/assets/galeria/books.jpg" alt="libros">
                        <div class="col-12 col-lg-9">
                            <h4>A YA novel translated to +10 languages.</h4>
                            <p>Some text here explaining or detailing </p>
                            <a class="gal-botones" href="#" target="_blank">Check it out</a>
                        </div>
                    </div>
                    <div class="contenido-port row justify-content-around">
                        <img class="col-11 col-lg-3" src="/assets/galeria/paper.jpg" alt="libreta">
                        <div class="col-12 col-lg-9">
                            <h4>Editing your work to make it extra fancy</h4>
                            <p>Some text here explaining or detailing what this whole thing is about</p>
                            <a class="gal-botones" href="#" target="_blank">Check it out</a>
                        </div>
                    </div>
                </div>

                </mat-tab>

        </mat-tab-group>

    </div>

    <div class="m-3 row align-items-center justify-content-evenly">
        <a class="gal-botones col-5 col-lg-2" href="#" target="_blank">See More</a>
        <a class="gal-botones col-4 col-lg-2" href="#" target="_blank">Hire Us</a>
    </div>
    

</section>
