
.galeria{
    min-height: 700px;
    overflow: hidden;
    margin-top: 4%;
    margin-bottom: 8%;
    width: 95%;
}
.galeria h2{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin: 10% 0;
}
.nombre-pest{
    background-color: wheat;
}
.iconos{
    background-color: wheat;
    padding: 1%;
    font-size: 50px;
    color: #712e1e;
}
.iconos:hover{
    color: #41180f;
}
.material-icons{
    padding: 2%;
}

.portfolio{
    border: rgb(242,135,15) 1px solid;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    border-top: none;
}
.contenido-port{
    margin: 1%;
    border: thistle 1px solid;
    background-color: rgba(252, 225, 195, .7);
}
.contenido-port img{
    padding: 1%;
}
.contenido-port div{
    background-color: rgba(252, 225, 195, .6);
    font-size: 20px;
    padding: 4%;
}
.contenido-port div h4{
    font-weight: bold;
}
.gal-botones{
    text-align: center;
    font-size: 20px;
    background-color: #41180f;
    color: wheat;
    padding: 7px 10px;
    margin: 1%;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.gal-botones:hover{
    background-color:#712e1e;
    color: wheat;
    transition: ease-in-out .3s;
}