footer{
    /*height: 80px;*/
    background-color: #712e1e;
    color: white;
    text-align: center;
}

footer p{
    
    font-size: 24px;
}
.redes a{
    font-size: 30px;
    color: wheat;
    padding: 0 6px;
}