<footer class="container-fluid">
    <div class="detail-div row align-items-center justify-content-around">
        <div class="col-6 col-lg-3">
           <p>&rightarrowtail; Raindrop Bow &rightarrowtail;</p> 
        </div>
        <div class="col-6 col-lg-3">
            <p>&copy; Reserved Rights</p>
        </div>
        <div class="col-12 col-lg-3">
            <ul class="redes">
                <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
    
    </div>
</footer>