.separador{
    margin: 4% 0;
}
.separador img{
    width: 40%;
    margin: 0 30%;
}

.contacto{
    /*min-height: 1000px;*/
    background-color: #41180f;
    color: wheat;
}

.contacto h2{
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}


.formulario label{
    font-size: 20px;
}

.border-focus .form-control:focus{
    border: salmon 1px solid; 
    box-shadow: 0 0 0 0.2rem rgba(253, 150, 139, 0.5);
}
.boton{
    padding: 4px 60px;
    background-color: salmon;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.boton:hover{
    background-image: url("/assets/arrow-s.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 0.3s;
}

.mapa{
    margin-top: 3%;
    border-top: #684239 2px ridge;
}
.mapa iframe{
    width: 500px;
    height: 300px;
}
.mapa a{
    display: none;
}
.mapa img{
    width: 200px;
    padding: 5px;
}
@media (max-width:499px){
    .mapa iframe{
        display: none;
    }
    .mapa img{
        display: none;
    }
    .mapa a{
        display: block;
        color: wheat;
        font-size: 50px;
    }
}
