<section class="contacto container-fluid">

    <div class="separador" >
        <img src="/assets/arrow-s.png" alt="flecha">
    </div>

    <form class="formulario detail-div row align-items-center justify-content-around">
        <h2 class="col-8">Questions? Reach out to us!</h2>
        <div class="col-11 col-lg-5">
            <div class="mb-3 border-focus">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control form-control-lg" id="InputEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 border-focus">
                <label for="InputName" class="form-label">Your Name</label>
                <input type="text" class="form-control form-control-lg" id="InputName">
            </div>
            <div class="mb-3 border-focus">
                <label for="SelectCountry" class="form-label">Select your country</label>
                <select class="form-control form-control-lg" id="SelectCountry">
                    <option>Argentina</option>
                    <option>Croatia</option>
                    <option>Denmark</option>
                </select>
            </div>
        </div>
        <div class="col-11 col-lg-6">
            <div class="mb-3 border-focus">
                <label for="InsertMessage" class="form-label">Enter your message</label>
                <textarea class="form-control form-control-lg" id="InsertMessage" rows="5"></textarea>
            </div>
            <button type="submit" value="submit" class="boton">SUBMIT</button>
        </div>
    </form>

    <div class="mapa detail-div row align-items-center justify-content-around">
        <div>
            <h2>If you live close by, you can visit us</h2>
            <img src="/assets/cup.png">
        </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7279.215345099119!2d-74.01565289116688!3d40.687621398968524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x89c25a6567c63aa3%3A0x81e05a21946ffb19!2s910%20Gresham%20Rd%2C%20Brooklyn%2C%20NY%2011231%2C%20EE.%20UU.!3m2!1d40.6854942!2d-74.02597279999999!5e0!3m2!1ses-419!2sar!4v1635947394663!5m2!1ses-419!2sar" 
        style="border:3px #41180f ridge;" allowfullscreen="" loading="lazy"></iframe>
        <a href="https://goo.gl/maps/pvhN5HSEWuP3huc48" target="_blank">
            <i class="fas fa-map-marked-alt"></i>
        </a>
    </div>

</section>
