<section class="hero container-fluid">
    <div class="hero-texto detail-div row justify-content-center align-content-center">
      <h2 class="col-4">Welcome</h2>
      <p class="col-10">Three things are never in short supply here at RDB:</p>
      <p class="col-10">Coffee, creativity and the motivation to make your project the best one out there.</p>
      <a class="col-6 col-lg-2" href="#">Take a look</a>
  </div>
  </section>

