.hero{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("/assets/coffee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-texto{
    text-align: center;
    color: wheat;
    font-weight: bold;  
}
.hero-texto h2{
    font-size: 60px;
    text-shadow: 3px 4px 2px rgb(80, 80, 80);
}
.hero-texto p{
    font-size: 22px;
    text-shadow: 3px 4px 4px rgb(80, 80, 80);
}
.hero-texto a{
    color: black;
    font-size: 18px;
    background-color: #ad97aa;
    padding: 10px 30px;
    margin: 2%;
    border: #866782 2px solid;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 0.3s ease-in;
}
.hero-texto a:hover{
    background-color: #c0a9bd;
    box-shadow: 4px 4px 2px 1px black;
    transition: ease-in-out 0.3s;
}