.notfound{
    margin: 15% 0;
}
.texto{
    margin-left: 5%;
    margin-right: 5%;
}
.texto h1{
    font-size: 45px;
    font-weight: bold;
}
.texto h2{
    margin: 3% 0;
}
.texto img{
    height: 200px;
}
.texto a{
    text-align: center;
    font-size: 20px;
    background-color: #41180f;
    color: wheat;
    padding: 7px 70px;
    margin: 15%;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.texto a:hover{
    background-color:#712e1e;
    color: wheat;
    transition: ease-in-out .3s;
}