<div class="notfound container-fluid">

    <div class="texto detail-div row align-items-center justify-content-center">
        <img src="/assets/cup.png">
        <div class="col-9">
            <h1>We can't seem to find the page you're looking for</h1>
            <h2>What we can offer you is a cup of coffee and a button to bring you back to the start</h2>
            <!--a routerLink="/inicio">Home</a-->
            <a href="#">Home</a>
        </div>
        
    </div>

</div>
