
.servicio{
    min-height: 450px;
    overflow: hidden;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}
.service-title{
    margin: 2%;  
}
.service-title h2{
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.service.body{
    margin: 2%;
}
.cada-serv{
    background-color: rgb(252,225,195);
    border: #ffbb89 1px solid;
    padding: 2%;
    font-size: 3rem;
    margin: 1%;
}
.card{
    background-color: rgb(252,225,195);
    font-size: 5rem;
    padding: 3%;
}
.card:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); /*dando vuelta los iconos*/
    transition: ease-in 0.3s;
    background-color: rgba(253, 237, 219, .7);
}


.separador img{
    width: 40%;
    margin: 0 30%;
}
