
    <!--cards-->
    <section id="service" class="servicio container-fluid justify-content-between">
      <div class="service-title">
        <h2>What we can help you with</h2>
      </div>
      <div class="service-body row align-items-center justify-content-around">
          <div class="cada-serv col-7 col-md-5 col-lg-2">
            <div class="card">
              <i class="fa fa-guitar card-img-top"></i>
            </div>
            <div class="card-body">
              <h4>Music Composition</h4>
            </div>
          </div>
          <div class="cada-serv col-7 col-md-5 col-lg-2">
            <div class="card">
              <i class="fas fa-pen-fancy"></i>
            </div>
            <div class="card-body">
              <h4>Creative Writing</h4>
            </div>
          </div>
          <div class="cada-serv col-7 col-md-5 col-lg-2">
            <div class="card">
              <i class="fas fa-palette"></i>
            </div>
            <div class="card-body">
              <h4>Graphics & Design</h4>
            </div>
          </div>
          <div class="cada-serv col-7 col-md-5 col-lg-2">
            <div class="card">
              <i class="fas fa-language"></i>
            </div>
            <div class="card-body">
              <h4>Translations & Editing</h4>
            </div>
          </div>
      </div>
    </section>


<div class="separador" >
    <img src="/assets/arrow-s.png" alt="flecha">
</div>