/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none!important; /*si no, lo mismo muestra una linea*/
    font-family: 'Zen Kurenaido';
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background-color: rgba(252, 225, 195, .6);
}
.detail-div{
    height: 100%;
}

